---
export interface Props {
  dark?: boolean;
}

const { dark = false } = Astro.props as Props;
---

<div class={`card ${dark && 'dark'}`}>
  <slot />
  <style>
    .card {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    .card h3 {
      font-weight: 700;
    }

    h3,
    p {
      text-align: center;
    }

    .dark {
      background-color: var(--color-primary);
      color: #fff;
    }
  </style>
</div>
